[Desktop Entry]
Name=Sublime Text 3
Exec={{ sublimetext_exec }}
Terminal=false
Icon={{ sublimetext_dest }}/sublime_text_3/Icon/48x48/sublime-text.png
Type=Application
Categories=TextEditor;IDE;Development
X-Ayatana-Desktop-Shortcuts=NewWindow
 
[NewWindow Shortcut Group]
Name=New Window
Exec={{ sublimetext_exec }} -n
TargetEnvironment=Unity
